*{
    margin: 0;
    padding: 0;
    box-sizing: border;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border;
    padding: 0 50px;
    background-color: #f0f4f5;
}
nav a{
    padding: 7px 15px;
    margin: 0 4px;
    border-radius: 20px;
    color: black;
    text-decoration: none;
    font-size: 0.9rem;
    background-color: #d6dddf;
}
.active{
    background-color: rgb(61, 9, 61);
    color: white;
}
.card{
    height: 520px;
    border-radius: 10px;
    border: 5px solid white;
    position: relative;
}
.card img{
    height: 250px;
    object-fit: cover;
}
.topBar{
    width: 100%;
    padding: 10px 20px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.topBar button{
    background-color: white;
    color: rgb(61, 9, 61);
    font-weight: 600;
    border: none;
    border-radius: 20px;
    font-size: 0.8rem;
    padding: 4px 10px;
    transition: 0.3s linear;
}
.fa-heart{
    color: rgb(61, 9, 61);
    background-color: white;
    padding: 10px 10px;
    border-radius: 50%;
    transition: 0.3s linear;
}
.location{
    font-size: 0.9rem;
    color: rgb(110, 108, 108);
}
.card-body h3{
    font-size: 1.3rem;
    font-weight: 600;
}
.card-footer{
    padding: 10px 0;
    display: flex;
    margin-top: 5px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: rgb(61, 9, 61);
}
.card-footer span{
    font-size: 0.8rem;
    color: black;
}
.card-footer button{
    background-color: transparent;
    border: ipx solid rgb(61, 9, 61);
    padding: 4px 15px;
    border-radius: 20px;
    transition: 0.3s linear;
}
.card-footer button:hover, .topBar button:hover, .fa-heart:hover{
    background-color: rgb(61, 9, 61);
    color: white;
}
.showBtn{
    background-color: rgb(61, 9, 61);
    padding: 5px 15px;
    margin: 30px 0;
    font-size: 0.9rem;
    color: white;
    border: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}